<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit User</h4>
    </div>
    <div class="modal-body">
        <!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
    dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
    suscipit lobortis nisl ut aliquip ex ea commodo consequat. -->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <!-- <label for="inputFirstName">First Name</label> -->
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <!-- <label for="inputLastName">Last Name</label> -->
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <!-- <label for="inputFirstName">Email</label> -->
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <!-- <label for="inputWebsite">Age</label> -->
                    <input type="text" class="form-control" id="inputWebsite" placeholder="Age">
                </div>
            </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save changes</button>
            <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
        </div>
    </div>